footer {
  background-color: var(--text-color);
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.footer__sns {
  display: flex;
  list-style: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.footer__sns li {
  padding: 8px;
  color: var(--background-color);
}

.footer__sns li a {
  color: var(--background-color);
}
