:root {
  --text-color: #f0f4f5;
  --background-color: #333333;
  --accent-color: #d49466;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar-login {
  background-color: var(--background-color);
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  height: 40px;
}

.navbar-login__logo {
  font-size: 24px;
  color: var(--accent-color);
}

.navbar-login__linkList {
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar-login__linkList li {
  padding: 8px 12px;
}

.navbar-login__linkList li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar-login__sns {
  display: flex;
  list-style: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navbar-login__sns li {
  padding: 8px;
  color: var(--background-color);
}

.navbar-login__sns li a {
  color: var(--background-color);
}

.navbar-login__members {
  list-style: none;
  display: flex;
}

.navbar-login__members li {
  padding: 8px 12px;
}

#join {
  border: 1px solid var(--text-color);
  border-radius: 4px;
}
