ul{
    list-style: none;
}

.main_image{
    width: 200%;
    height: 400px;
    background-color : #dca3a1;
}
.nav__list{
    display: flex;
    flex-direction: row;
    margin-right: 15%;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.nav__link{
    text-decoration: none;
    padding: 10px;
    color: black;
}