/* variables */
@import "variables.css";
/* screens */
@import "screens/index.css";
@import "screens/login.css";
@import "screens/join.css";
@import "screens/join_manager.css";
@import "screens/realpage.css";
@import "screens/realpage-m.css";

/* component */
@import "component/navbar.css";

footer {
  background-color: var(--text-color);
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

body {
  background-color: var(--text-colors);
}

table {
  border-collapse: collapse;
  text-align: center;
}

tr {
  border-bottom: solid 1px black;
}

td,
th {
  padding: 5px;
}
