.join__area__welcome__manager a {
  color: black;
}
.main-join__logo {
  color: var(--sub-color);
  font-size: 50px;
  padding: 10px;
  margin: 40px 0px 20px 0px;
}

.join__area__welcome__title,
.join__area__welcome__text {
  text-align: center;
  margin: 20px 10px 0px 10px;
}

.main-join {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-join__area {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--sub-color);
  border-radius: 5px;
  box-sizing: border-box;
  width: 40%;
  height: 900px;
}

.main-join__area__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-join__area__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 30px;
  box-sizing: border-box;
  height: 700px;
}

.main-join__area__form p {
  width: 100%;
  height: 60px;
}

.main-join__area__form-text,
#work_place {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

#work_place {
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none; /* 화살표 없애기 for firefox*/
  border-radius: 2px;
}

.main-join__area__form-text:focus {
  border-radius: 2px;
  box-shadow: 0 0 0 2px #c2855d;
  outline: none;
  border: 1px solid #d49466;
}

label {
  margin: 10px;
  width: 100%;
  height: 60px;
}

.main-join__area__form-submit {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
  color: var(--text-color);
}
