.loginPage-logo {
  color: var(--sub-color);
  font-size: 50px;
  padding: 10px;
  margin: 40px 0px 20px 0px;
}

.form-area__header-welcome__title,
.form-area__header-welcome__text {
  text-align: center;
  margin: 20px 10px 0px 10px;
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-area {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--sub-color);
  border-radius: 5px;
  box-sizing: border-box;
  width: 40%;
  height: 370px;
}

.form-area__header-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-area__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 30px;
  box-sizing: border-box;
}

.form-area__input__text {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.form-area__input__text:focus {
  border-radius: 2px;
  box-shadow: 0 0 0 2px #c2855d;
  outline: none;
  border: 1px solid #d49466;
}

label {
  margin: 10px;
  width: 100%;
  height: 60px;
}

.form-area__input__submit {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
  color: var(--text-color);
}
@media screen and (max-width: 640px) {
  .form-area {
    width: 80%;
    height: 400px;
  }
}
